<section id="footer">
		<div class="container">
			
			<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
						<h5>A PROPOS</h5>
						<p>Repérages mode, astuces beauté, conseils psycho et sexo, bons plans famille, recettes faciles, idées déco... Le magazine Vie Pratique Féminin et le site viepratique.fr s'adressent à toutes les femmes qui veulent se simplifier la vie. Un concentré d'infos utiles et dans l'air du temps mais aussi des confidences et des avis d'experts. Vie Pratique Féminin et viepratique.fr vous parlent de tout sans tabou !</p>
					
					</div>
					<hr>
				</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, molestias. Vero ex deserunt, porro nisi, quo asperiores, laboriosam quibusdam debitis dolorum soluta eum nesciunt. Ea minus iure repellendus porro sed.</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.facebook.com/younes.bouladhane" target="_blank">Something</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>